.form-group {
    margin-bottom: 10px;
}
label {
    margin-bottom: 0;
}
.footer{
    padding: 10px 0;
    background: #ffd5d5;
    font-size: 12px;
    font-weight: bold;
    
}
.footer-help, .footer-social__link{
    justify-content: center;
    margin-bottom: 15px;
}
.footer-help__link{
    margin-right: 20px;
}

/* .footer-social__link{
    justify-content: center;
} */
.footer-social__icon{
    display: block;
    margin-right: 8px;
}
.footer-social__icon:last-child, .footer-help__link:last-child{
    margin-right: 0;
}
.footer-copyrights p{
   text-align: center;
   margin-bottom: 0;
}