/* фильтер */
.form-group {
    margin-bottom: 10px;
}
label {
    margin-bottom: 0;
    align-items: center;

}
input[type="text"]{
    border-width: 0;
    width: 30%;
    border-radius: 20px;
    border: 1px solid #000;
    margin-right: 5px;
  }
  .currency{
      padding-top: 15px;
      margin: 0;
  }
  .btn-filter{
      background: none;
    border: 1px solid;
    border-radius: 10px;
    width: 12%;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
}
/* фильтер END */

/* Ползунок */
  .slider{
    width: 80%;
    height:4px;
    background:#b6b6b6;
    position:relative;
    margin-top:10px;
    margin-left:20px;
  }
  .slider .bar{
    position: absolute;
    left: 50px;
    width: 50px;
    background: #ffd4d3;
    height: 100%;
  }
  .slider .bar .lp span{
      position:relative;
      left:-30px;
  }
  .slider .bar .rp span{
      position:relative;
      left:10px;
  }
  .slider .bar .lp,.slider .bar .rp{
    cursor:pointer;
    background:#ffd4d3;
    width:15px;
    height: 15px;
    border-radius:100%;
    position:absolute;
}
  .slider .bar .lp{
    left:0px;
    top:-6px;
  }
  .slider .bar .rp{
    left:100%;
    top:-6px;
  }
/* ползунок END */

/* booling */

  .product-booling__list{
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
  }
  .product-booling__list:hover, .product-booling__list:active, .product-booling__list:focus{
    background:  #ffd4d3; 
    color: #000;
  }
  .product-booling__list a{
      color: #000;
  }

  /* booling END */
.footer{
    margin-top: 20px;
    padding: 10px 0;
    background: #ffd5d5;
    font-size: 12px;
    font-weight: bold;
    
}
.footer-help, .footer-social__link{
    justify-content: center;
    margin-bottom: 15px;
}
.footer-help__link{
    margin-right: 20px;
}

/* .footer-social__link{
    justify-content: center;
} */
.footer-social__icon{
    display: block;
    margin-right: 8px;
}
.footer-social__icon:last-child, .footer-help__link:last-child{
    margin-right: 0;
}
.footer-copyrights p{
   text-align: center;
   margin-bottom: 0;
}
